---
import Layout from "@/layouts/BaseLayout.astro";

import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Stack from "@/components/Stack.astro";
import Education from "@/components/Education.astro";
import Certificates from "@/components/Certificates.astro";
import Hero from "@/components/Hero.astro";
import SectionContainer from "@/components/SectionContainer.astro";

import Qualifications from "@/components/Qualifications.astro";

import StackIcon from "@/icons/Stack.astro";

const title = "Portfolio de Alberto Castañeiras Folgueral - Software Engineer";
const description = "Contrata a Alberto Castañeiras Folgueral";
---

<Layout title={title} description={description}>
  <main>
    <!-- <SectionContainer id="hero" class="max-w-[1400px] py-12 md:py-32">
      <Hero />
    </SectionContainer> -->

    {/* Experience */}
    <Experience />

    {/* Projects */}
    <Projects />

    {/* Stack */}
    {
      /*<section id="stack" class="pb-24 px-6 bg-card/20">
      <div class="max-w-6xl mx-auto">
        <div class="mb-16">
          <h2 class="text-3xl font-bold flex items-center gap-x-4 mb-4">
            <StackIcon class="size-6" />
            Stack
          </h2>
          <p class="text-muted-foreground max-w-2xl">
            Tecnologías y utilidades que uso a diario, con una estimación de mi
            familiaridad actual.
          </p>
        </div>
        <Stack />
      </div>
    </section>
    */
    }

    {/* Qualifications */}
    <Qualifications />
  </main>
</Layout>
