---
interface Props {
  id?: string;
  class?: string;
}

const { class: className, id }: Props = Astro.props;
---

<section id={id} class={`${className} mx-auto px-4 md:px-6`}>
  <slot />
</section>
